.blinking{
        animation: blink 800ms infinite;
}


.scale-up-hor-left {
        -webkit-animation: scale-up-hor-left 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-left 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-left{
        -webkit-animation: scale-up-hor-left 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-left 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-left-close{
        -webkit-animation: scale-up-hor-left-close 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-left-close 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.6);
              transform: scaleX(0.6);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.6);
              transform: scaleX(0.6);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}

@-webkit-keyframes scale-up-hor-left-close {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(0.6);
              transform: scaleX(0.6);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left-close {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(0.6);
              transform: scaleX(0.6);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}
  

@keyframes blink {
        from { opacity: 1; }
        to { opacity: 0; }
    }