@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Edge */
.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.root{
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

/* App.css */
.app, .tech, .about, .pro, .contact {
  opacity: 0;
  transition: opacity 2s ease-in-out; /* Opacity transition */
}

.app.visible, .tech.tv, .about.av, .pro.pv, .contact.cv {
  opacity: 1; /* Fully visible */
}

/* Controls styles */
.control, .ctech, .cabout, .cpro, .ccontact {
  transform: translateY(30px); /* Start from 30px below */
  transition: transform 2s ease-in-out; /* Transition for control movement */
}

.control.visible, .ctech.tv, .cabout.av, .cpro.pv, .ccontact.cv {
  transform: translateY(0); /* Move to original position */
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

.section-padding {
  padding-top: 70px; /* Height of your navbar */
  margin-top: -70px; /* Negative margin to pull it up */
}